* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    min-width: 250px;
}

#header {
    width: 100%;
    height: 70px;
    background-image:
            linear-gradient(
                    to left,
                    #004e92, #000428
            );
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

#header img {
    height: 70px;
    margin-right: 15px;
}

#header h1 {
    line-height: 70px;
    font-size: 35px;
    color: white;
}

#content {
    padding: 15px;
    margin-top: 80px;
    transition: .7s;
    float: right;
}

#content img {
    width: 700px;
    max-width: 600px;
    display: block;
    margin: auto;
}

#content h2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#004e92, #000428);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#seasons {
    margin-top: 1%;
    margin-bottom: 15%;
}

#content a
{
    display: block;
    border: 1px solid grey;
    font-size: 30px;
    color: white;
    width: 30%;
    float: left;
    margin-left: 14%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-image:
            linear-gradient(
                    to left,
                    #004e92, #000428
            );
    text-decoration: none;
    border-radius: 20px;
    transition: transform .2s;
}
/*Applying css styling on all the anchor tags*/
#content a:hover
{
    transform: scale(1.1);
}

#content p {
    text-align: justify;
    margin-top: 10px;
}

#myFooter {
    padding: 0;
    margin-top: 80px;
    transition: .1s;
    float: right;
}

#sidebar {
    position: fixed;
    top: 70px;
    background-image:
            linear-gradient(
                    to left,
                    #004e92, #000428
            );    height: 100%;
    width: 20%;
    left: -100%;
    transition: .2s;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 15px 25px;
    display: block;
    transition: 0.4s;
}

a i {
    margin-right: 20px;
    width: 10%;
}

#sidebar ul li a:hover {
    border-left: 10px solid white;
}

#social {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    bottom: 0;
    padding: 15px 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    width: 20%;
}

i {
    font-size: 30px;
    color: white;
}

#chk {
    display: none;
}

#show-btn,
#hide-btn {
    position: fixed;
    top: 18px;
    left: 30px;
    font-size: 30px;
    color: white;
}

#hide-btn {
    display: none;
}

#chk:checked~#show-btn {
    display: none;
}

#chk:checked~#hide-btn {
    display: block;
}

#chk:checked~#content {
    width: 80%;
}

#chk:checked~#myFooter {
    width: 80%;
}

#chk:checked~#sidebar {
    left: 0;
}

/* Footer */


footer {
    width: 100%;
}

.sec-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: #26272b;
}

.about {
    width: 40%;
    padding-right: 10px;
}

.sec-1 h2 {
    font-size: 18px;
    color: lightgray;
    text-transform: uppercase;
}

.about p {
    text-align: justify;
    padding: 5px;
    color: gray;
    line-height: 20px;
    margin-top: 10px;
}

.sec-1 ul {
    list-style-type: none;
}

.sec-1 ul li {
    padding: 4px;
}

#myFooter a {
    text-decoration: none;
    color: gray;
    transition: 300ms;
}

#myFooter a:hover {
    color: orange;
}

span {
    color: gray;
}

#myFooter i {
    color: gray;
    margin-right: 10px;
    font-size: 20px;
}

/*Section 2 CSS*/

.sec-2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    background-color: #26272b;
}

.sec-2 p {
    color: gray;
    font-size: 24px;
    padding: 0;
}

.sec-2 a {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-image:
            linear-gradient(
                    to left,
                    #004e92, #000428
            );
    margin-left: 10px;
    border-radius: 20px;
    font-size: 18px;
}

.sec-2 a:hover {
    color: #FFF;
    transform: scale(1.1);
}

.sec-3 {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #26272b;
}

.sec-3 ul {
    list-style-type: none;
}

.sec-3 ul li {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;
}

.sec-3 ul li i {
    color: white;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
}

.sec-3 ul li:nth-child(1):hover {
    background-image:
            linear-gradient(
                    to left,
                    #3B5998, #3B5998
            );
}

.sec-3 ul li:nth-child(2):hover {
    background-image:
            linear-gradient(
                    to left,
                    #0072b1,#0072b1
            );}

.sec-3 ul li:nth-child(3):hover {
    background-image:
            linear-gradient(
                    to right,
                    #833ab4, #fd1d1d, #fcb045
            );}

.sec-3 ul li:nth-child(4):hover {
    background-image:
            linear-gradient(
                    to left,
                    #36D8FF, #00ACEE
            );}

.sec-3 ul li:nth-child(5):hover {
    background-image:
            linear-gradient(
                    to left,
                    #333, #333
            );}


/*Last part css left*/

.sec-4 {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
}

.sec-4 p {
    color: gray;
    position: relative;
}

.sec-4 p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -10px;
    background-color: yellow;
    transition: all 300ms;
}

.sec-4 p:hover::after {
    width: 100%;
}

hr {
    opacity: 0.2;
}


/* Breakpoint-1 : Below 855 px */

@media (max-width:855px) {
    #header h1 {
        display: none;
    }
    #sidebar {
        width: 100%;
        text-align: center;
    }
    #social {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .sec-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 10px;
        background-color: #26272b;
    }

    .about {
        width: 100%;
        margin-bottom: 20px;
    }

    .sec-1 h2 {
        font-size: 18px;
        color: lightgray;
        text-transform: uppercase;
    }

    .about p {
        text-align: justify;
        color: gray;
        line-height: 20px;
        margin-top: 10px;
    }

    .sec-1 ul {
        list-style-type: none;
    }

    .sec-1 ul li {
        padding: 4px;
    }

    #myFooter a {
        text-decoration: none;
        color: gray;
        transition: 300ms;
    }

    #myFooter a:hover {
        color: orange;
    }

    span {
        color: gray;
    }

    #myFooter i {
        color: gray;
        margin-right: 10px;
        font-size: 20px;
    }

    /*Section 2 CSS*/
    .sec-2 {
        display: flex;
        justify-content: center;
        padding: 30px;
        align-items: center;
        background-color: #26272b;
    }

    .sec-2 p {
        color: gray;
        font-size: 24px;
        padding: 0;
    }

    .sec-2 a {
        display: inline-block;
        padding: 10px 25px;
        color: white;
        background-image:
                linear-gradient(
                        to left,
                        #004e92, #000428
                );        margin-left: 10px;
        border-radius: 20px;
        font-size: 18px;
    }

    .sec-2 a:hover {
        transform: scale(1.1);
    }

    .sec-3 {
        display: flex;
        justify-content: center;
        padding: 30px;
        background-color: #26272b;
    }

    .sec-3 ul {
        list-style-type: none;
    }

    .sec-3 ul li {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 20px;
        background-color: #424242;
        border-radius: 50%;
        margin-right: 20px;
    }

    .sec-3 ul li i {
        color: white;
        font-size: 24px;
        line-height: 18px;
        text-align: center;
    }

    .sec-3 ul li:nth-child(1):hover {
        background-image:
                linear-gradient(
                        to left,
                        #3B5998, #3B5998
                );
    }

    .sec-3 ul li:nth-child(2):hover {
        background-image:
                linear-gradient(
                        to left,
                        #0072b1,#0072b1
                );}

    .sec-3 ul li:nth-child(3):hover {
        background-image:
                linear-gradient(
                        to right,
                        #833ab4, #fd1d1d, #fcb045
                );}

    .sec-3 ul li:nth-child(4):hover {
        background-image:
                linear-gradient(
                        to left,
                        #36D8FF, #00ACEE
                );}

    .sec-3 ul li:nth-child(5):hover {
        background-image:
                linear-gradient(
                        to left,
                        #333, #333
                );}

    /*Last part css left*/
    .sec-4 {
        display: flex;
        justify-content: center;
        background-color: black;
        padding: 30px;
    }

    .sec-4 p {
        color: gray;
        position: relative;
    }

    .sec-4 p::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        bottom: -10px;
        background-color: yellow;
        transition: all 300ms;
    }

    .sec-4 p:hover::after {
        width: 100%;
    }

    hr {
        opacity: 0.2;
    }
}


/* Breakpoint-2 : Below 630 px */

@media(max-width:630px) {
    #content img {
        width: 100%;
        height: 300px;
    }
}


/* Breakpoint-3 : Below 480 px */

@media(max-width:480px) {
    #content a {
        width: 33%;
        font-size: 20px;
    }
    #content h2 {
        font-size: 25px;
    }
    #content img {
        width: 100%;
        height: 250px;
    }
    #header img {
        position: fixed;
        right: 10px;
    }

    footer {
        width: 100%;
    }

    .sec-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 10px;
        background-color: #26272b;
    }

    .about {
        width: 100%;
    }

    .sec-1 h2 {
        font-size: 18px;
        color: lightgray;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .about p {
        text-align: justify;
        color: gray;
        line-height: 20px;
        margin-top: 10px;
    }

    .sec-1 ul {
        list-style-type: none;
    }

    .sec-1 ul li {
        padding: 4px;
    }

    #myFooter a {
        text-decoration: none;
        color: gray;
        transition: 300ms;
    }

    #myFooter a:hover {
        color: orange;
    }

    span {
        color: gray;
    }

    #myFooter i {
        color: gray;
        margin-right: 10px;
        font-size: 20px;
    }

    /*Section 2 CSS*/
    .sec-2 {
        display: flex;
        justify-content: center;
        padding: 30px;
        align-items: center;
        background-color: #26272b;
    }

    .sec-2 p {
        color: gray;
        font-size: 24px;
        padding: 0;
    }

    .sec-2 a {
        display: inline-block;
        padding: 10px 25px;
        color: white;
        background-image:
                linear-gradient(
                        to left,
                        #004e92, #000428
                );        margin-left: 10px;
        border-radius: 20px;
        font-size: 18px;
    }

    .sec-2 a:hover {
        transform: scale(1.1);
    }

    .sec-3 {
        display: flex;
        justify-content: center;
        padding: 30px;
        background-color: #26272b;
    }

    .sec-3 ul {
        list-style-type: none;
    }

    .sec-3 ul li {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 10px;
        background-color: #424242;
        border-radius: 50%;
        margin-right: 10px;
    }

    .sec-3 ul li i {
        color: white;
        font-size: 24px;
        line-height: 18px;
        text-align: center;
    }

    .sec-3 ul li:nth-child(1):hover {
        background-image:
                linear-gradient(
                        to left,
                        #3B5998, #3B5998
                );
    }

    .sec-3 ul li:nth-child(2):hover {
        background-image:
                linear-gradient(
                        to left,
                        #0072b1,#0072b1
                );}

    .sec-3 ul li:nth-child(3):hover {
        background-image:
                linear-gradient(
                        to right,
                        #833ab4, #fd1d1d, #fcb045
                );}

    .sec-3 ul li:nth-child(4):hover {
        background-image:
                linear-gradient(
                        to left,
                        #36D8FF, #00ACEE
                );}

    .sec-3 ul li:nth-child(5):hover {
        background-image:
                linear-gradient(
                        to left,
                        #333, #333
                );}

    /*Last part css left*/
    .sec-4 {
        display: flex;
        justify-content: center;
        background-color: black;
        padding: 30px;
    }

    .sec-4 p {
        color: gray;
        position: relative;
    }

    .sec-4 p::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        bottom: -10px;
        background-color: yellow;
        transition: all 300ms;
    }

    .sec-4 p:hover::after {
        width: 100%;
    }

    hr {
        opacity: 0.2;
    }
}